html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {

  font-family: Josefin slab;
}

a {
  color: inherit;
  /* text-decoration: none; */
  /* float: left; */
}

nav a, button a {
  color: inherit;
  text-decoration: none;
  float: left;
}

* {
  box-sizing: border-box;
}

.navbar {
  
}
.al-PIC{
  width: 10%;
  height: 10%;
  
}
.al-p{
  font-size: 12px;
  text-align: left;
}

.container-full {
  width: 100%;
  margin: 1rem;
  
}

.campaign-graphic-container {
  margin-bottom: 1rem;
}


.event-card-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  box-sizing: border-box;
}

.event-card-wrapper > * {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  
  

}
