html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* h1 {

  font-family: Josefin slab;
} */

a {
  color: inherit;
  /* text-decoration: none; */
  /* float: left; */
}

nav a, button a {
  color: inherit;
  text-decoration: none;
  float: left;
}

* {
  box-sizing: border-box;
}

.navbar {
  
}

.container-full {
  width: 100%;
  padding: 1rem;
}

.container-full:last-child {
  text-align: center;
  background-color: #fa9747;
}

.campaign-graphic-container {
  margin-bottom: 1rem;
}

.alum-card {
  display: flex;
  flex-flow: row wrap;
}

.alum-photo {
  max-width: 100%;
}

.alum-photo img {
  width: 100%;
}

.alum-bio {
  max-width: 49%;
}

.card-wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  box-sizing: border-box;
}

.card-wrapper > * {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2195f300;
  padding: 10px;
  align-self: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
}
